@model Orcamento.Models.OrcamentoP

@{
    ViewData["Title"] = "Create";
}

<h1>Lançar Gastos</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create__G">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descrição</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Valor</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionCreate" class="control-label">Data</label>
                <input asp-for="ActionCreate" class="form-control" />
                <span asp-validation-for="ActionCreate" class="text-danger"></span>
            </div>
            <div class="Btns">
                <input type="submit" value="Lançar" class="Btn_Padrao" />
                <a asp-action="Index__G" class="Btn_Padrao">Voltar para Home</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
